body {
    margin: 0;
    border-top: solid 20px #2f4f4f;
    background: radial-gradient(circle, #696969 10%, transparent 10%), radial-gradient(circle, #696969 10%, #937 10%) 25px 25px;
    background-size: 50px 50px;
}
#logo {
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}
#content {
    width: 80%;
    margin: 0 auto;
}
h1 {
    color: #fff;
    font-family: monospace;
    font-size: 3em;
    text-align: center;
    border-bottom: dotted;
}
#tabs {
    text-align: center; 
}
.tabList li{
    display: inline-block; 
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: monospace;
    width: 120px;
    padding: 10px;
}
.tabList .active {
    border: 1px solid #fff;
    background-color: #2f4f4f;
    
}
.tabList a {
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: none;
}
.tabList a:hover {  
    background-color: #2f4f4f;
}
#cited {
    background-color: #fff;
    border: 2px solid #2f4f4f;
    margin-bottom: 2%;
    padding: 0 1%;
}
.tabPanel {
    display: none;
    background-color: #2f4f4f;
    color: #f5f5f5;
    font-family: sans-serif;
    border: 2px solid;
    padding: 4%;
}
.tabPanel.active {
    display: block;
}
.form {
    width: 100%;
    padding: 0;
    margin: 0;
}
div.tableRow {
    
    display: table-row;
    height: 2em;
}
div.tableRow p {
    display: table-cell;
    vertical-align: bottom;
    font-size: 1.15em;
    width: 30%;
}
div.tableRow p:first-child {
    text-align: right;
    width: 35%;
}
div.tableCol {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
input {
    display: inline-block;
    width: 125px;
    margin-left: 3%;
}
input:focus {
    outline-offset: 0;
}
button {
    padding: 0.75%;
    border-radius: 5%;
    border: outset 2px;
    position: relative;
    margin-top: 10px;
    float: right;
    clear: both;
}
.buttons {
    height: 80px;
}
.red {
    border: red solid 2px;
}
#msg, #msgJ, #msgM, #msgN {
    color: red;
    visibility: hidden;
    font-size: 1.2em;
    font-weight: 300;
    float: left;
    text-shadow: -2px 0 0.2em #000, 0 2px 0.2em #000, 2px 0 0.2em #000, 0 -2px 0.2em #000; 
}
@media only screen and (max-width: 650px) {
    #content {
        width: 95%;
    }
    #tabs {
        text-align: left;
        width: 100%;
        margin: -10px 0;
    }
    .tabList li{
        text-align: center;
    }
    div.tableCol {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        vertical-align: top;
    }
    div.tableRow p:first-child {
        width: 40%;
    }
    div.tableRow p {
        vertical-align: bottom;
    }
    div.tableRow {
        height: 2.5em;    
    }
    input, div.tableRow p:first-child {
        line-height: 2em;
    }  
}