/*---------FOR ALL PAGES----------*/
body {
    font-size: large;
    background: #a11111;
    padding:  0px;
}
h1 {
    font-size: 200%;
    font-weight: bolder;
    font-family: fantasy;
    color: #a11111;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.right {
    float: right;
}
h2 {
    color: #a11111;
    border-bottom: thick solid;
}
#logo {
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
}
/*---------Navigation Bar------*/
#menu {
    border: medium #a11111 outset;
    background-color:#a11111;
    color:tan;
    padding: 0px;
    margin: 0px 50px 10px 50px;
}
#menu a:link {
    color: #eaf3da;
    text-decoration: none;
}
#menu a:visited {
   color:antiquewhite;
}
#menu ul {
    list-style-type: none;
    display: inline;
    background-color: #a11111;
}
#menu li {
    font-family: fantasy;
    font-size: 1em;
    font-weight: bolder;
    width: 8em;
    border-right: tan 2px solid;
    display: inline-block;
    color: antiquewhite;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #a11111;
    cursor: pointer;
    text-shadow: 0 2px 0 #000; 
}
#menu li:hover {
    background: cadetblue;
    color: #fff;
}
/*-------For Dropdown Menu--------*/
#menu li ul {
    padding: 0;
    margin-top: 10px;
    position: absolute;
    top: 48px;
    left: -1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
}
#menu li ul li { 
    background: cadetblue; 
    border: none;
    display: block; 
    color: #fff;
    text-shadow: 0 2px 0 #000;
    position: relative;
    float: none;
    z-index: 1;
    border: tan 1px dotted;
    border-collapse: collapse; 
}
#menu li ul li:hover { 
    background: tan;
    border: 1px solid #a11111;
}
/*------Makes dropdown appear when moused over*/
#menu li:hover ul {
    display: block;
    color: tan;
    opacity: 1;
    visibility: visible; 
}
#footer {
    font-size: small;
    text-align: center;
    border: medium #a11111 outset;
    background-color:#a11111;
    margin: 0px 20px 0px 20px;
    color: #eaf3da;
}
.block {
    border: ridge #a11111;
    padding: 20px;
    margin: 10px 50px;
    background: #eaf3da;
}
.main {
    background: tan;
    padding: 10px;
    border-style:double;
    margin: -5px;
    border-color: #a11111;
}
table {
    width: 100%;
    text-align: center;
}

/*----------LINKS---------*/
a:visited {
    color:#a11111;  
    text-decoration: none;
}
a:link {
    color: #a11111; 
    text-decoration: none;
}
/*----------THUMBNAILS ON HOME---------*/
.imageHolder {
    opacity: 0.8;
    margin-top: 0px;   
}
.imageHolder:hover {
    opacity: 1.0;   
}
.imageHolder section {
    text-align: center;   
}
/*--------SLIDER ON HOME PAGE-------*/ 
.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 310px;
    text-align: center;
}
.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
}
.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
}
.slide img {
        width: 100%;
    }
.slide:first-child {
    display: block;
}
.slide-buttons {
    text-align: center;
}
.slide-btn {
    border: none;
    background: none;
    color: #000;
    font-size: 200%;
    line-height: 0.5em;
}
.slide-btn.active, .slide-btn:hover {
    color: #a11111;;
    cursor: pointer;
}
/*--------FOR MAP-------*/  
.state {
  fill:tan;
  stroke:#000;
  stroke-width:0.75;
  stroke-opacity:1;
}
svg {
    margin-left: 20%; 
    width:auto;   
}
svg image { 
    opacity: 0; 
    transition: 400ms opacity ease; 
}
svg image:hover { 
    opacity: 1;
}
/*small screen*/
@media screen and (max-width: 699px){
    .thumbs {
        text-align: center;
    }
    table {
        margin: 0 auto; 
        text-align: center;
    }
    .thumbs td {
        float: left;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    /*#menu li {
        position: relative;
        width: 85%;
        text-align: center;
        border-right: none;
        border-bottom: tan 1px dotted;
    }*/
}
/*medium viewport*/
@media screen and (min-width: 768px) and (max-width: 992px){
    .slide-viewer {
        height: 230px;
    }
    
    .thumbs td {
        margin: 0 auto;
        float: left;
        width: 32%;
    }
}
/*large viewport*/
@media screen and (min-width: 1400px){
    body {
        max-width: 1200px;
        margin: 10px auto;
    }

}


